@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.nav-buttons{
    margin-left:60%;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family:'Quicksand',sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;

}

h2{
    font-size: 1.8rem;
    font-weight: 600;

}

h3{
    font-size: 1.5rem;
    font-weight: 800;

}

h4{
    font-size: 1.2rem;
    font-weight: 600;

}

h5{
    font-size: 1rem;
    font-weight: 400;

}

h6{
    color: #D8D8D8;
}

button{
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: whitesmoke;
    color: coral;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
    
}
button:hover{
    background-color: coral;
}
.navbar{
    
    font: size 14px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1); 
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 12px;
    color: #000;
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar i:hover{
    color:coral;

}

.navbar i{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    cursor: pointer;
    margin-left: 5px;

}
.navbar .logo{
    width: 5%;
    height: 5%;   
    object-fit: contain;
    margin: 10px;
    
}
.footer .logo{
    width: 12%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: white;
    margin: 10px;
    
}
@media only screen and (max-width:990px){
    .nav-buttons{
        margin: 10px;
    }
    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .nav-buttons ul .fas{
        margin: 20px 5px 10px 20px;

    }
}

#home{
    background-color:#06142A;
    width: 100;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


#home span{
    color:coral;
}
#home h5{
    color:coral;
}
#home h1{
    color:whitesmoke;
}
#home p{
    color:whitesmoke;
}
#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#new .one{
    position: relative;
}
#new .one .details{
    position:absolute;
    top:0;
    left:0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.5;
    background-color: rgb(1,1,1);
    width: 100%;
    height: 100%;
}
#new .one .details:hover{
    background-color: gray;
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* product */
.product{
    cursor: pointer;
    margin-bottom: 2rem;
    
}
.product:hover img{
    opacity: 0.5;    
}
.product .buy-btn{
    color: whitesmoke;
    background-color: #fb774b;
    transform: translateY(50px);
    opacity: 0;
    transition: o.3 all;
}
.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
}
hr{
    width: 30px;
    height: 3px !important;
    opacity: 1;
    background-color: #fb774b;
}
.star{
    padding: 10px 0px;
}
.star i{
    font-size: 0.9rem;
    color: goldenrod;

}
#banner{
    
    background-image: url('../imgs/back.jpeg');
    width: 100;
    height: 45vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    

}
#banner h4{
    color: coral;
}
footer{
    background-color: #1d1d1d;
}
footer h5{
    color: #D8D8D8;    
}
footer li{
    padding: 4px;
}
footer li a{
    font-size: 0.8rem;
    color: gray;
    text-decoration: none;
}
footer li a:hover{
    color: #D8D8D8;
}
footer .copyrighte a{
    color: #000;
    height: 40px;
    width: 40px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 0 5px;
    transition: 0.4s ease;
}
footer .copyrighte a:hover{
    color: white;
    background-color: coral;
}
footer p{
    color: white;
}
footer .copyrighte img{
    width: 35%;
}
.small-image-group{
    display: flex;
    justify-content: space-between;
}
.small-image-cole{
    flex-basis: 24%;
    cursor: pointer;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
     
}
.single-product input:focus{
    outline: none;
   
}

.cart table{
    width: 100%;
    border-collapse: collapse;
}
.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}
.cart th{
    text-align: left;
    padding: 5px 10px;
    color: white;
    background-color: #fb774b;
}
.cart td{
    padding: 10px 20px;
}
.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.cart td input{
    width: 45px;
    height: 25px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;    
}
.cart td a{
    color: #fb774b;
}
.cart .remove-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 13px;
    background-color: white;
    border: none;
    width: 100%;
}
.cart .edit-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 13px;
    background-color: white;
    border: none;
}


.cart .product-info p{
    margin: 3px;
}
.cart-total{
    display: flex;
    justify-self: end;
}
.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: solid #fb774b;
}
.checkout-containor{
    display: flex;
    justify-content: flex-end;
}
.checkout-btn{
    background-color: #fb774b;
    color: white;
}

#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}
#login-form input{
    width: 50%;
    margin: 5px auto;
}
#login-form #login-btn{
    background-color: #fb774b;
    color: white;
}
#login-form #register-url{
    color: #fb774b;
}

#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;    
}
#register-form input{
    width: 50%;
    margin: 5px auto;
}

#register-form #register-btn{
    background-color: #fb774b;
    color: white;
}
#register-form #login-url{
    color: #fb774b;
}

#account-form {
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}
#account-form input{
    margin: 5px auto;
}
#account-form #change-pass-btn{
    color: white;
    background-color: #fb774b;
}
.account-info #orders-btn,#logout-btn{
    color: #fb774b;
    text-decoration: none;

}
.orders table{
    width: 100%;
    border-collapse:collapse;
}
.orders .product-info{
    display: flex;
    flex-wrap: wrap;

}
.orders th{
    text-align: left;
    padding: 5px 10px;
    color: white;
    background-color: #fb774b;
}
.orders td{
    padding: 10px 20px;
}
.orders td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* checkout */

#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;

}
#checkout-form .checkout-large-element{
    width: 96%;
}
#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}
#checkout-form #checkout-btn{
    color: white;
    background-color: #fb774b;
    margin:10px ;
}

#contact span{
    color: #fb774b;

}
.orders .order-details-btn{
    color: white;
    background-color: #fb774b;
}

